@model ATPL_Complaint.Models.assi_product
@{
    Layout = "~/Views/Shared/sadmin_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>clientlist</title>
</head>
<body>
    <div>
        <table class="table table-striped">
            <tr>
                <th>PRODUCT</th>
                <th>CLIENT</th>
                <th>EMPLOYEE</th>
                <th>PROJECT SUPPORT TEAM</th>
                <th>INSTALLATION DATE</th>
                <th>AMC DATE</th>
                <th>AMOUNT</th>
                <th>AMC %</th>
                @*<th style="text-align:center">Edit</th>
        <th style="text-align:center">Delete</th>*@
            </tr>

            @foreach (var item in ViewBag.assiproductlist)
            {
                <tr>
                    <td>@item.select_product</td>
                    <td>@item.select_client</td>
                    <td>@item.select_emp</td>
                    <td>@item.select_project_supp</td>
                    <td>@item.installation_date</td>
                    <td>@item.amc_date</td>
                    <td>@item.amount</td>
                    <td>@item.amc_per</td>
                    @*<td align="center">
                            <a href="@Url.Action("#",new { item.id})" class="btn btn-success">Edit</a>

                        </td>
                        <td align="center">
                            <a href="@Url.Action("clientdelete",new { item.id })" OnClick="return confirm('Are you sure? want to delete the data.');" class="btn btn-danger">Delete</a>
                        </td>*@
                </tr>
            }
        </table>
    </div>
</body>
</html>
