@model ATPL_Complaint.Models.product
@{
    Layout = "~/Views/Shared/sadmin_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>clientlist</title>
</head>
<body>
    <div>
        <table class="table table-striped">
            <tr>
                <th>product_category</th>
                <th>product_name</th>
                <th>description</th>
                @*<th style="text-align:center">Edit</th>
        <th style="text-align:center">Delete</th>*@
            </tr>

            @foreach (var item in ViewBag.productlist)
            {
                <tr>
                    <td>@item.product_category</td>
                    <td>@item.product_name</td>
                    <td>@item.description</td>
                    @*<td align="center">
                            <a href="@Url.Action("#",new { item.id})" class="btn btn-success">Edit</a>

                        </td>
                        <td align="center">
                            <a href="@Url.Action("clientdelete",new { item.id })" OnClick="return confirm('Are you sure? want to delete the data.');" class="btn btn-danger">Delete</a>
                        </td>*@
                </tr>
            }
        </table>
    </div>
</body>
</html>
